
<p id="print">
	<a href="#" onclick="window.print()">このページを印刷する</a>
</p>

<table cellpadding="0" id="aboutTable" summary="compendium of data on object">
	<caption>物件概要</caption>
	<tbody>
		<?php
			$keies = array(
				'bukken_bangou'										=> '物件番号',
				'bukkenn_shubetsu'									=> '物件種別',
				'koukoku_kubun'										=> '広告区分',
				'homenavi_tourokubi'								=> 'ホームナビ登録日（本日日付）',
				'keisaikikan_kaishi'								=> '掲載期間（開始）',
				'keisaikikan_shuryo'								=> '掲載期間（終了）',
				'bukken_mei'										=> '物件名',
				'shozaichi_code'									=> '所在地コード（県・市区）',
				'shozaichi_mei_1'									=> '所在地名１（県・市区のみ）',
				'shozaichi_mei_2'									=> '所在地名２（町名・番地など）',
				'ensen_code'										=> '沿線コード',
				'eki_code'											=> '駅コード',
				'koutsu1'											=> '交通1（一覧および詳細表示用）',
				'koutsu2'											=> '交通2（詳細表示用）',
				'koutsu3'											=> '交通3（詳細表示用）',
				'hanbai_kakaku'										=> '販売価格',
				'saita_kakakutai'									=> '最多価格帯',
				'yotei_saita_kakakutai'								=> '予定最多価格帯',
				'yotei_saita_kakaku_hosokusetsumei'					=> '予定最多価格補足説明',
				'urinushi'											=> '売主',
				'hanbai_kaishamei'									=> '販売会社名（取引態様）',
				'toiawasesaki'										=> '問合せ先',
				'toiawasesaki_denwabangou'							=> '問合せ先電話番号',
				'url_hyouki'										=> 'ＵＲＬ表記',
				'url'												=> 'ＵＲＬ',
				'hanbai_yotei'										=> '販売予定',
				'modelroom'											=> 'モデルルーム（ハウス）',
				'touroku_uketsuke_kikan'							=> '登録受付期間',
				'chusenbi'											=> '抽選日',
				'kansei_yotei'										=> '完成予定（造成完了予定）',
				'nyukyo_yotei'										=> '入居（引渡し）予定',
				'madori'											=> '間取り',
				'senyu_menseki'										=> '専有面積',
				'tatemono_menseki'									=> '建物面積',
				'shikichi_menseki'									=> '敷地面積（マンション）',
				'tochi_menseki'										=> '土地面積（一戸建・土地）',
				'bunjo_kosuu'										=> '分譲戸数（区画数）',
				'so_kosuu'											=> '総戸数（区画数）',
				'kouzou_oyobi_kaisuu'								=> '構造および階数',
				'jimoku'											=> '地目',
				'youto_chiiki'										=> '用途地域',
				'kenpeiritsu_yousekiritsu'							=> '建ペイ率・容積率',
				'kokudohou'											=> '国土法',
				'kouko_yuushi'										=> '公庫融資',
				'kanri_keitai'										=> '管理形態',
				'kanrihi'											=> '管理費',
				'shuuzen_tsumitatekin'								=> '修繕積立金',
				'shuuzen_tsumitate_kikin'							=> '修繕積立基金',
				'shakuchikenno_baai_sono_shurui_kikan'				=> '借地権の場合その種類・期間',
				'shakuchikenno_baai_sono_tsuki_chinryo'				=> '借地権の場合その月賃料',
				'shakuchikenno_baai_sonotano_hiyou'					=> '借地権の場合その他の費用',
				'bunjoubono_kenri_keitai'							=> '分譲後の権利形態',
				'sales_point_1'										=> 'セールスポイント１',
				'sales_point_2'										=> 'セールスポイント２',
				'sales_point_3'										=> 'セールスポイント３',
				'bikou'												=> '備考',
				'comment_gazou_1_you'								=> 'コメント（画像１用）',
				'comment_gazou_2_you'								=> 'コメント（画像２用）',
				'comment_gazou_3_you'								=> 'コメント（画像３用）',
				'comment_gazou_4_you'								=> 'コメント（画像４用）',
				'kakakutai_1'										=> '価格帯１',
				'kakakutai_2'										=> '価格帯２',
				'kakakutai_3'										=> '価格帯３',
				'kakakutai_4'										=> '価格帯４',
				'kakakutai_5'										=> '価格帯５',
				'kakakutai_6'										=> '価格帯６',
				'kakakutai_7'										=> '価格帯７',
				'kakakutai_8'										=> '価格帯８',
				'kakakutai_9'										=> '価格帯９',
				'kakakutai_10'										=> '価格帯１０',
				'kodawari_jouken_1'									=> 'こだわり条件１',
				'kodawari_jouken_2'									=> 'こだわり条件２',
				'kodawari_jouken_3'									=> 'こだわり条件３',
				'kodawari_jouken_4'									=> 'こだわり条件４',
				'kodawari_jouken_5'									=> 'こだわり条件５',
				'kodawari_jouken_6'									=> 'こだわり条件６',
				'kodawari_jouken_7'									=> 'こだわり条件７',
				'kodawari_jouken_8'									=> 'こだわり条件８',
				'kodawari_jouken_9'									=> 'こだわり条件９',
				'kodawari_jouken_10'								=> 'こだわり条件１０',
				'kodawari_jouken_11'								=> 'こだわり条件１１',
				'kodawari_jouken_12'								=> 'こだわり条件１２',
				'kodawari_jouken_13'								=> 'こだわり条件１３',
				'kodawari_jouken_14'								=> 'こだわり条件１４',
				'kodawari_jouken_15'								=> 'こだわり条件１５',
				'kodawari_jouken_16'								=> 'こだわり条件１６',
				'kodawari_jouken_17'								=> 'こだわり条件１７',
				'kodawari_jouken_18'								=> 'こだわり条件１８',
				'ensen_code_2'										=> '沿線コード２',
				'eki_code_2'										=> '駅コード２',
				'ensen_code_3'										=> '沿線コード３',
				'eki_code_3'										=> '駅コード３',
				'rentoushiki_hyouji_ari_nashi'						=> '連棟式表示有無',
				'toshi_keikaku'										=> '都市計画',
				'tochi_kenri_shakuchiken_shurui'					=> '土地権利／借地権種類',
				'kubun_hoshoukin_mataha_sikikin'					=> '区分(保証金又は敷金）',
				'hoshoukin_mataha_sikikin'							=> '保証金又は敷金',
				'shisetu_hiyou_shoukyakuhi'							=> '施設費用／償却費',
				'jikai_koushinbi'									=> '次回更新日',
				'yobi_1'											=> '予備１',
				'yobi_2'											=> '予備２',
				'sekoukaisha_meishou_shougou'						=> '施工会社名称・商号',
				'chuushajou_akidaisuu'								=> '駐車場　空き台数',
				'chuushajou_ryoukin_saishouchi'						=> '駐車場料金　最小値',
				'chuushajou_ryoukin_saidaichi'						=> '駐車場料金　最大値',
				'eki_toho'											=> '駅徒歩',
				'saitei_kakaku'										=> '最低価格',
				'saikou_kakaku'										=> '最高価格',
				'saishou_menseki'									=> '最小面積',
				'saidai_menseki'									=> '最大面積',
				'saishou_tochi_menseki'								=> '最小土地面積',
				'saidai_tochi_menseki'								=> '最大土地面積',
				'bukken_shozaichi_ido'								=> '物件所在地緯度',
				'bukken_shozaichi_keido'							=> '物件所在地経度',
				'bukken_shozaichi_nokori_juusho_mei'				=> '物件所在地残り住所名',
				'soukosuu_soukukakusuu'								=> '総戸数（総区画数）',
				'modelroom_koukaibi'								=> 'モデルルーム公開日',
				'modelroom_ido'										=> 'モデルルーム緯度',
				'modelroom_keido'									=> 'モデルルーム経度',
				'modelroom_koukai_status'							=> 'モデルルーム公開ステータス',
				'modelroom_bikou'									=> 'モデルルーム備考',
				'toiawasesaki_bikou'								=> '問い合せ先備考',
				'sonota_gaiyoumei'									=> 'その他概要名',
				'owabito_teisei_mei'								=> 'お詫びと訂正名',
				'kanseiku_kubun'									=> '完成旬区分',
				'kansei_yotei_kubun'								=> '完成予定区分',
				'kansei_yuukou_kubun'								=> '完成有効区分',
				'kansei_jiki_bikou'									=> '完成時期備考',
				'nyuukyo_kanouku_kubun'								=> '入居可能旬区分',
				'nyuukyo_kanou_yotei_kubun'							=> '入居可能予定区分',
				'nyuukyo_kanou_yuukou_kubun'						=> '入居可能有効区分',
				'nyuukyo_kanou_jiki_bikou'							=> '入居可能時期備考',
				'event_name'										=> 'イベント名',
				'event_kaisai_kaishibi'								=> 'イベント開催開始日',
				'event_kaisai_shuryobi'								=> 'イベント開催終了日',
				'event_bikou'										=> 'イベント備考',
				'moyorieki_bikou'									=> '最寄駅備考',
				'moyorieki_shudan_kubun'							=> '最寄駅手段区分',
				'sonota_koutsu_kikanmei'							=> 'その他交通機関名',
				'gaiyou_hyouji_kaisha_kobetsu_touroku_mei'			=> '概要表示会社個別登録名',
				'gaiyou_hyouji_kaisha_keitai_kubun'					=> '概要表示会社形態区分',
				'gaiyou_hyouji_kaisha_shozaiti_yuubin_bangou'		=> '概要表示会社所在地郵便番号',
				'gaiyou_hyouji_kaisha_nokori_juusho'				=> '概要表示会社残り住所',
				'gaiyou_hyouji_kaisha_fudousan_dantai_mei'			=> '概要表示会社不動産団体名',
				'menkyo_bangou'										=> '免許番号',
				'kanri_kaisha_mei'									=> '管理会社名',
				'sidou_futan_mei'									=> '私道負担名',
				'gyoushagawa_hanbaiki_id'							=> '業者側販売期ID',
				'bukken_mei_kana'									=> '物件名かな',
				'hanbaiki_mei'										=> '販売期名',
				'hanbai_shuuryou_yoteibi'							=> '販売終了予定日',
				'hanbai_gaiyou_bikou'								=> '販売概要備考',
				'bangaiki_status'									=> '販売期ステータス',
				'kakakuchi_yuukou_kubun'							=> '価格値有効区分',
				'kakaku_hani_hyouki_kubun'							=> '価格範囲表記区分',
				'kakaku_hyouki_kubun'								=> '価格表記区分',
				'kakaku_bikou'										=> '価格備考',
				'madori_kubun_set'									=> '間取り区分セット',
				'senyuu_menseki_tatemono_menseki_chi_yuukou_kubun'	=> '専有面積（建物面積)値 有効区分',
				'tochi_menseki_chi_yuukou_kubun'					=> '土地面積値有効区分',
				'hanbai_kosuu_kukakusuu'							=> '販売戸数（区画数）',
				'parth_gazou'										=> 'パース画像',
				'comment_gazou_5_you'								=> 'コメント（画像５用）',
				'comment_gazou_6_you'								=> 'コメント（画像６用）',
				'chisei_code'										=> '地勢コード',
				'kenchiku_kakunin_bangou'							=> '建築確認番号',
				'chuushajou_fukusuudai'								=> '駐車場複数台',
				'shidou_menseki'									=> '私道面積',
				'teishaku_kenrikin'									=> '定借権利金',
				'teishaku_hoshoukin'								=> '定借保証金',
				'teishaku_sikikin'									=> '定借敷金',
				'kanrihi_nashi_flg'									=> '管理費なしフラグ',
				'kanrihitai_from'									=> '管理費帯(FROM)',
				'kanrihitai_to'										=> '管理費帯(TO)',
				'shuusenn_tsumitatekin_nashi_flg'					=> '修繕積立金なしフラグ',
				'shuusenn_tsumitatekintai_from'						=> '修繕積立金帯(FROM)',
				'shuusenn_tsumitatekintai_to'						=> '修繕積立金帯(TO)'
			);
		?>
		<?php foreach ($data['Frk'] as $key => $val): ?>
			<?php if (isset($data['FrkVisibility'][($key . '_visibility_flg')]) && $data['FrkVisibility'][($key . '_visibility_flg')] === '1'): ?>
				<tr>
					<th><?php echo $keies[$key]; ?></th>
					<td><?php $val; ?><?php echo $val; ?></td>
				</tr>
			<?php endif; ?>
		<?php endforeach; ?>
	</tbody>
</table>

<p id="close">
	<a href="#" onclick="javascript: window.close()">このページを閉じる</a>
</p>

<?php //debug($data); ?>