@charset "utf-8";


#indexInMain.custom {
	#contentForUserAdmin {
		padding: 5px 10px 10px 10px;
		.head {
			position: relative;
			z-index: 99999;
			h2 {
				margin: 7px 0 8px;
				display: inline-block;
			}
			.btn-logout {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
		#wrapper {
			#residences {
				>ul {
					border-top: 1px solid #ccc;
					overflow-y: scroll;

					>li {

						&.company-item {
							&::before{
								display: none;
							}
						}
						.name.naked {
							padding: 0 0 5px 5px;
							&::before {
								margin-bottom: 0;
							}
						}
					}
				}
			}

			#pages {
				>div.page-wrapper {
					.tab-content {
						.tab-pane {
							>.page-list {
								>.page-item {
									&.not-latest {
										background: none;
									}
									&:hover {
										background: rgba(254, 255, 234, 1);
									}
									&.current {
										background: rgba(222,234,254,1);
									}
									&.active {
										background: rgb(182, 203, 255);
									}
									>.group {
										margin-left: 25px;
									}
									.title {
										border: none;
									}
									.detail {
										background: transparent;
										border: none;
										>div {
											> p {
												&:last-child {
													margin-left: 90px;
												}
											}
										}
										.published {
											left: 0;
											&::before {
												content: '書き出し日時';
												left: -80px;
												width: 80px;
												text-align: right;
											}
										}
									}
									.is_published {
										input[type="checkbox"] {
											margin-bottom: 7px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}