@charset "utf-8";


#indexInMain.custom {
	#contentForUserAdmin {
		padding: 5px 10px 10px 10px;
		.head {
			position: relative;
			h2 {
				margin: 7px 0 8px;
				display: inline-block;
			}
			button {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
		#wrapper {
			#residences {
				// width: 400px;
				// border: 1px solid #ccc;

				// >.btns {
				// 	margin: 8px 5px 5px;

				// 	>.btn-group {
				// 		margin-bottom: 5px;

				// 		&:last-child {
				// 			margin-bottom: 0;
				// 		}
				// 	}

				// 	.btn-group + .btn-group {
				// 		margin-left: 0;
				// 	}
				// }

				>ul {
					border-top: 1px solid #ccc;
					overflow-y: scroll;

					>li {
						/*
						border-bottom: 1px solid #ccc;
						cursor: pointer;
						position: relative;
						overflow: hidden;

						&:last-child {
							border-bottom: none;
						}
						&.not-latest {
							background: rgb(255, 245, 174);
						}
						&:hover {
							background: rgba(254, 255, 234, 1);
						}
						&.current {
							background: rgba(222,234,254,1);
						}
						&.on-hover {
							background: rgba(101, 157, 250, 1);
						}

						label {
							// display: inline-block;
							display: inline;

							.checkbox {
								display: inline-block;
								padding-right: 0;
							}
							.record-id {
								display: inline-block;
								// width: 130px;
								font-size: 3rem;
								display: inline-block;
								line-height: 3rem;
								text-overflow: ellipsis;
								white-space: nowrap;

								&::before {
									content: '物件ID';
									font-size: 1rem;
									line-height: 1rem;
									color: rgba(0, 172, 238, 1);
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
									margin-bottom: 5px;
								}
							}
						}

						&.company-item {
							&::before{
								content: '企業サイト';
								position: absolute;
								right: -50px;
								top: 30px;
								-webkit-transform: rotate(45deg);
								width: 100px;
								text-align: center;
								font-size: 2rem;
								background: rgba(115, 167, 214, 0.7);
								color: white;
								padding: 10px 50px;
							}
							// .record-id {
							// 	width: 252px;
							// }
						}
						.group {
							position: relative;
							input[type="text"] {
								background: rgba(255, 255, 255, 0.7);
							}
						}
						.btn-group {
							// display: inline-block;
							// margin-top: -15px;
							float: right;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.name {
							display: inline-block;
							padding: 0 0 0 5px;

							>input[type="text"] {
								width: 328px;
							}

							&::before {
								content: '物件名';
								font-size: 1rem;
								color: rgba(0, 172, 238, 1);
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px;
								margin-bottom: 5px;
							}
						}
						.path {
							padding: 0 5px;

							&::before {
								content: 'パス';
								font-size: 1rem;
								line-height: 1rem;
								color: rgba(0, 172, 238, 1);
								margin-bottom: 5px;
								display: inline-block;
								margin-right: 5px;
							}
						}
						.smartphone-page-count {
							display: inline-block;
							padding: 0 5px;
							float: left;

							&::before {
								content: 'スマホページ数';
								font-size: 1rem;
								color: rgba(0, 172, 238, 1);
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px;
							}
						}
						.featurephone-page-count {
							display: inline-block;
							padding: 0 5px;
							float: right;

							&::before {
								content: 'フィーチャーフォンページ数';
								font-size: 1rem;
								color: rgba(0, 172, 238, 1);
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px;
							}
						}
						*/
					}

					>.placeholder {
						background: rgb(231, 231, 231);
					}
				}
			}

			#pages {
				>div.page-wrapper {
					.tab-content {
						.tab-pane {
							>.page-list {
								>.page-item {
									>.group {
										margin-left: 25px;
									}
									.title {
										border: none;
									}
									.detail {
										background: transparent;
										border: none;
										>div {
											> p {
												&:last-child {
													margin-left: 90px;
												}
											}
										}
										.published {
											left: 0;
											&::before {
												content: '書き出し日時';
												left: -80px;
												width: 80px;
												text-align: right;
											}
										}
									}
								}

								>.placeholder {
									background: rgb(231, 231, 231);
								}
							}
						}
					}
				}
			}
		}
	}
}