<section>
	<h1 class="siteTitle">
		<?php echo $this->Html->link('codeless', '/', array()); ?>
	</h1>
	<?php
	if ($this->Session->check('Message.auth')) {
		echo $this->Session->flash('auth');
	}
	?>
	<?php echo $this->Form->create('User'); ?>
		<?php echo $this->Form->input('username', array('div'=>false, 'label'=>false, 'placeholder'=>'ユーザID')); ?>
		<?php echo $this->Form->password('password', array('div'=>false, 'label'=>false, 'placeholder'=>'パスワード')); ?>
		<button class="btn btn-primary"><span>ログイン</span></button>
	<?php echo $this->Form->end(); ?>
	<!--
	<div>
		<a href="./history.html" target="_blank">更新履歴</a><br />
		<?php
		$mod = filemtime("history.html");
		print "最終更新日：".date("Y/m/d",$mod);
		?>
	</div>
	<ul>
		<li>
			<a href="#">よくある質問</a>｜
		</li>
		<li>
			<a href="#">ご利用ガイド</a>｜
		</li>
		<li>
			<a href="#">お問い合わせ</a>
		</li>
	</ul>
	<small class="copyright">Copyright:2012xxxxxxxxxxxxxxxxxxxxxxxxx</small>
-->
</section>
