@charset "utf-8";
#editInLibrary, #editInPage {
  overflow:hidden;
  position:relative;
}
#editInLibrary #contentForUserAdmin, #editInPage #contentForUserAdmin {
  margin:0;
  padding:0;
  height:100%;
}
#editInLibrary #container, #editInPage #container {
  width:100%;
  height:100%;
  position:relative;
  background:#e2e6ec;
}
